<web-app>
        <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>com.jnit.DoctorRegister</servlet-class>
        </servlet>
     
        <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/doctor_register</url-pattern>
        </servlet-mapping>
</web-app> 