<web-app>

<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.sai.adminRegister</servlet-class>
</servlet>

<servlet-mapping> 
<servlet-name>first</servlet-name>
<url-pattern>/admin_register</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>second</servlet-name>
<servlet-class>com.sai.adminLogin</servlet-class>
</servlet>

<servlet-mapping> 
<servlet-name>second</servlet-name>
<url-pattern>/admin_login</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>third</servlet-name>
<servlet-class>com.sai.clientRegister</servlet-class>
</servlet>

<servlet-mapping> 
<servlet-name>third</servlet-name>
<url-pattern>/client_register</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>fourth</servlet-name>
<servlet-class>com.sai.clientLogin</servlet-class>
</servlet>

<servlet-mapping> 
<servlet-name>fourth</servlet-name>
<url-pattern>/client_login</url-pattern>
</servlet-mapping>



</web-app>